/* 

lightest #03F5CA
#37D7FA
#3D8BE3
#374DFA
darkest #6335F0

grey #dbdbdb
dark #141414
white #ffffff */
body {
  background-color: #141414;
  overflow-x: hidden;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #03f5ca #141414;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-corner {
  background: #141414;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
}

colorText {
  color: #03f5ca;
}

#navbar-container {
  width: 100%;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  font-size: 20px;
  font-family: 'Lato';
  font-weight: 900;
  flex-wrap: wrap;
  transition: 0.4s ease-in-out;
}

#navbar-item-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.hamburger {
  background-color: transparent;
  border-radius: 50px;
  padding: 10px 11.25px;
  border: none;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  transition: 0.4s ease-in-out;
}

.hamburger:focus {
  outline: none;
}

.logo {
  color: white;
  font-size: 48px;
  padding: 30px 0;
  font-style: italic;
}

#navbar a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: 0.2s;
}

#navbar a:hover {
  color: #03f5ca;
  transition: 0.2s;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.splash {
  min-height: 600px;
  justify-content: center;
  background-color: #141414;
  overflow: hidden;
}

.splash-text {
  position: relative;
  z-index: 2;
  font-size: 58px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  padding: 40px;
}

.splash img {
  position: absolute;
  top: 0;
}

.plx {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  margin-left: -960px;
}

.splash-text h3 {
  font-size: 42px;
}

.about {
  background-color: #ffffff;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('./about_bg.png');
}

.about-text {
  max-width: 800px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  gap: 40px;
}

.about-text p {
  padding: 20px;
  color: white;
  box-shadow: -1px 1px 0px 1px #03f5ca;
}

.about h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  display: none;
}

.about-text h1 {
  font-family: 'Lato', sans-serif;
}

#about-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background-color: #141414;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.skills {
  background-color: #141414;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 20px;
}

.skills-banner {
  font-size: 160px;
  width: 100%;
  position: absolute;
  display: flex;
  gap: 20px;
}

.skills-banner p {
  font-size: 160px;
  color: #1f1f1f;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  cursor: default;
}

p colorText {
  font-style: italic;
}

.skills h1 {
  display: none;
}

#hsp {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: rgb(54, 54, 54);
}

.projects {
  background-color: #ffffff;
  min-height: 700px;
  display: flex;
  justify-content: center;
  background-image: url('./projects_bg_TEST.png');
}

.projects h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  display: none;
}

#projects-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.project-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato';
  line-height: 1.2;
  padding: 20px;
  color: white;
  width: 370px;
  background-color: rgb(24, 24, 24);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project img {
  width: 410px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
}

.project img:hover {
  transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  opacity: 0;
}

.project video {
  width: 410px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.project-tech {
  padding: 20px;
  width: 370px;
  background-color: rgb(24, 24, 24);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 32px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 410px;
  gap: 10px;
}

.project-buttons * {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  padding: 20px;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s;
  color: white;
  text-decoration: none;
}

.project-buttons *:hover {
  transition: 0.2s;
  transform: scale(1.04);
  background-color: #0f0f0f;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.6) 0px 1px 3px -1px;
}

.footer {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#footer-text {
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-family: 'Lato';
  font-size: 18px;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#copy-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  color: white;
  border-top: 2px solid #1f1f1f;
  font-family: 'Lato';
}

#footer-text h1 {
  color: #03f5ca;
}

@media screen and (max-width: 1320px) {
  #projects-container {
    flex-direction: column;
  }
  .projects h1 {
    display: block;
  }

  .about h1 {
    display: block;
  }
}

@media screen and (max-width: 845px) {
  #footer-text {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  #navbar-container {
    display: flex;
    justify-content: center;
    background-color: #141414;
  }

  #navbar {
    display: none;
  }

  #menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #navbar.show {
    display: flex;
    width: auto;
    flex-direction: column;
    position: absolute;
    top: 88px;
    padding: 20px;
    font-size: 34px;
    background-color: #141414;
    border-bottom: 2px solid #03f5ca;
    border-left: 2px solid #03f5ca;
    border-right: 2px solid #03f5ca;
  }

  .logo {
    padding: 20px 0px;
  }

  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger.show {
    color: #03f5ca;
    transform: rotate(270deg);
  }

  .skills h1 {
    font-size: 26px;
    position: relative;
    color: #03f5ca;
    font-style: italic;
    font-family: 'Lato';
    font-weight: 800;
    display: block;
  }

  .skills-banner {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .about-text {
    flex-direction: column;
  }

  .about a {
    margin-top: 30px;
  }
}
